.valentine-card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: white;
    width: 45vw;
    height: 45vh;
    box-shadow: 5px 5px 20px black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fee3ee;
}

.section {
    /* border: 1px solid red; */
    min-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-section {
    flex: 2
}

.question-section {
    flex: 1
}

.buttons-section {
    flex: 1
}

.empty-section {
    flex: 0.5
}

.button-wrapper {
    display: flex;
    position: relative;
    /* border: 1px solid blue;  */
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.first-page-image {
    max-width: 100%;
    max-height: 80%;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-style: normal;
    font-size: 2.5vw;
}

.yes-button {
    width: 30%;
    height: 60%;
    color: white;
    background-color: #ff196a;
    border-style: none;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-size: 1.5vw;
    border-radius: 50px;
    box-shadow: 4px 5px 5px #7c7c7c;
    transition: all 0.2s ease;
}

.yes-button:hover {
    background-color: #ff0052;
    transform: scale(1.05);
    box-shadow: 4px 8px 10px #7c7c7c;
}

.yes-button:active {
    transform: scale(0.95);
    box-shadow: 1px 3px 5px #7c7c7c;
}

.no-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 30%;
    color: black;
    background-color: #c9c9c9;
    border-style: none;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-size: 0.5vw;
    border-radius: 50px;
    box-shadow: 1px 2px 3px #7c7c7c;
    transition: transform 0.3s ease-out;
}